Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write

fix: review feedback
  hooks/useSession.tsx
  pages/send/Send.tsx
Due: prettier --write

fix: update lockfile
  yarn.lock
Due: none

fix: amounts in alby banner
  components/AlbyBanner.tsx
Due: prettier --write

fix: prevent image being cut off
  pages/Onboarding.tsx
Due: prettier --write

fix: onboarding state
  app/(app)/_layout.tsx
  app/_layout.tsx
Due: prettier --write

fix: prevent image cutoff on unlock screen
  pages/Unlock.tsx
Due: prettier --write

fix: prevent white screen of ☠️ (#150)
  app/(app)/_layout.tsx
  app/_layout.tsx
  pages/Onboarding.tsx
  pages/Unlock.tsx
Due: prettier --write

chore: update version to 1.6.1
  app.json
  package.json
Due: prettier --write

fix: update zapstore release docs to zapstore-cli 0.10.0
  RELEASE.md
Due: prettier --write

fix: add onboarding state to app store
  app/(app)/_layout.tsx
  hooks/useOnboarding.ts
  hooks/useSession.tsx
  lib/state/appStore.ts
  pages/Home.tsx
  pages/Onboarding.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
Due: tsc --noEmit, prettier --write

fix: check if navigation state is initialized
  pages/Home.tsx
Due: prettier --write

fix: consistent naming, cleanup
  app/(app)/_layout.tsx
  lib/state/appStore.ts
  pages/Onboarding.tsx
  pages/settings/Settings.tsx
Due: tsc --noEmit, prettier --write

fix: move redirect to _layout
  app/(app)/_layout.tsx
  pages/Home.tsx
Due: prettier --write

fix: white screen of death on iOS (#152)
  app/(app)/_layout.tsx
  hooks/useOnboarding.ts
  hooks/useSession.tsx
  lib/state/appStore.ts
  pages/Home.tsx
  pages/Onboarding.tsx
  pages/settings/Settings.tsx
  pages/settings/wallets/EditWallet.tsx
Due: tsc --noEmit, prettier --write

chore: update version to 1.6.2
  app.json
  package.json
Due: prettier --write

fix: remove get_info from required capabilities
  lib/constants.ts
Due: tsc --noEmit, prettier --write

fix: follow redirects when resolving lightning addresses
  lib/lnurl.ts
Due: tsc --noEmit, prettier --write

fix: follow redirects for callbacks
  lib/lnurl.ts
Due: tsc --noEmit, prettier --write

feat: add lnurl withdrawal
  app/(app)/withdraw/index.js
  components/Icons.tsx
  lib/lnurl.ts
  pages/receive/Receive.tsx
  pages/withdraw/Withdraw.tsx
Due: tsc --noEmit, prettier --write

fix: button layout
  pages/receive/Receive.tsx
Due: prettier --write

fix: copy
  pages/receive/Receive.tsx
Due: prettier --write

fix: follow redirects when resolving lightning addresses (#155)
  lib/lnurl.ts
Due: tsc --noEmit, prettier --write

feat: show podcasting info in transactions
  package.json
  pages/Transaction.tsx
  yarn.lock
Due: prettier --write

fix: lockfile
  package.json
  yarn.lock
Due: prettier --write

fix: remove get_info from required capabilities (#153)
  lib/constants.ts
Due: tsc --noEmit, prettier --write

fix: build error after merge
  app/(app)/settings/wallets/name.js
  app/(app)/settings/wallets/new.js
Due: prettier --write

chore: add linking for withdraw
  hooks/__tests__/useHandleLinking.ts
  hooks/useHandleLinking.ts
  lib/link.ts
  pages/withdraw/Withdraw.tsx
Due: tsc --noEmit, prettier --write

fix: success layout
  animations/Paid.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write

fix: center content on screen
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write

feat: fetch currency list from getalby.com remove currency-list npm package introduct search bar to search for currencies add caching to api call
  lib/constants.ts
  package.json
  pages/settings/FiatCurrency.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write

fix: use default components
  pages/settings/FiatCurrency.tsx
Due: prettier --write

fix: remove caching
  pages/settings/FiatCurrency.tsx
Due: prettier --write

fix: tests
  hooks/__tests__/useHandleLinking.ts
  lib/link.ts
Due: tsc --noEmit, prettier --write

fix: cleanup
  pages/settings/FiatCurrency.tsx
Due: prettier --write

feat: load currency list from api & search (#161)
  lib/constants.ts
  package.json
  pages/settings/FiatCurrency.tsx
  yarn.lock
Due: tsc --noEmit, prettier --write

fix: error toasts
  pages/withdraw/Withdraw.tsx
Due: prettier --write

fix: cleanup tests
  hooks/__tests__/useHandleLinking.ts
Due: tsc --noEmit, prettier --write

chore: remove unnecessary dependency
  package.json
Due: prettier --write

chore: memoize metadata parsing
  pages/Transaction.tsx
Due: prettier --write

Path conditions:
  tsc --noEmit: any of: *.ts
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,md,json})
