Repository getAlby/go: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc --noEmit, prettier --write

.lintstagedrc.json:

{
  "*.ts": "tsc --noEmit",
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{css,md,json}": ["prettier --write"]
}

feat: show podcasting info in transactions (#146)
  package.json
  pages/Transaction.tsx
  yarn.lock
Due: prettier --write

chore: dry up withdraw screen
  components/DismissableKeyboardView.tsx
  pages/withdraw/Withdraw.tsx
Due: prettier --write

chore: convert wallet connection page to wallet setup
  app/(app)/_layout.tsx
  app/(app)/settings/wallets/[id]/wallet-connection.js
  app/(app)/settings/wallets/setup.js
  lib/state/appStore.ts
  pages/Home.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write

chore: remove trash icon
  components/Icons.tsx
Due: prettier --write

chore: remove unnecessary empty wallet logic
  pages/settings/Wallets.tsx
Due: prettier --write

feat: add lnurl withdrawal (#158)
  app/(app)/withdraw/index.js
  components/DismissableKeyboardView.tsx
  components/Icons.tsx
  hooks/__tests__/useHandleLinking.ts
  hooks/useHandleLinking.ts
  lib/link.ts
  lib/lnurl.ts
  pages/receive/Receive.tsx
  pages/withdraw/Withdraw.tsx
Due: tsc --noEmit, prettier --write

feat: add push notifications
  app/(app)/notifications.js
  components/Icons.tsx
  package.json
  pages/Notifications.tsx
  pages/settings/Settings.tsx
  yarn.lock
Due: prettier --write

feat: notification observer
  app/(app)/_layout.tsx
  hooks/useNotificationObserver.ts
  pages/Notifications.tsx
Due: tsc --noEmit, prettier --write

chore: add wallet only after setting the name
  app/(app)/settings/wallets/name.js
  app/settings/wallets/name.js
  lib/state/appStore.ts
  pages/settings/wallets/NameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write

chore: set info toast position
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

chore: remove comment
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

fix: useNotificationObserver usage
  hooks/useNotificationObserver.ts
Due: tsc --noEmit, prettier --write

fix: button content
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

fix: undo button change
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

fix: use button component
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

chore: redirect to setup if wallets.length is 0
  app/(app)/_layout.tsx
  pages/settings/Wallets.tsx
Due: prettier --write

chore: disable button is name is empty
  pages/settings/wallets/SetupWallet.tsx
Due: prettier --write

fix: success layout (#160)
  animations/Paid.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write

fix: success layout (#160)
  animations/Tick.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
Due: prettier --write

chore: reorder and use wallet name from lud16 (#143)
  animations/Tick.tsx
  app/(app)/_layout.tsx
  app/(app)/settings/wallets/[id]/wallet-connection.js
  app/(app)/settings/wallets/new.js
  app/(app)/settings/wallets/setup.js
  components/Icons.tsx
  components/ToastConfig.tsx
  lib/state/appStore.ts
  pages/Home.tsx
  pages/receive/ReceiveSuccess.tsx
  pages/send/PaymentSuccess.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/wallets/NewWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write

update yarn.lock
  yarn.lock
Due: none

chore: add no unused vars and curly to eslint
  .eslintrc.js
Due: prettier --write

chore: redo inactivity change
  lib/constants.ts
Due: tsc --noEmit, prettier --write

feat: add linting workflow
  .github/workflows/linting.yml
Due: none

chore: organize imports
  app/(app)/_layout.tsx
  app/_layout.tsx
  components/AlbyBanner.tsx
  components/DismissableKeyboardView.tsx
  components/DualCurrencyInput.tsx
  components/Icons.tsx
  components/QRCodeScanner.tsx
  components/Screen.tsx
  components/ToastConfig.tsx
  components/icons/LargeArrowDown.tsx
  components/icons/LargeArrowUp.tsx
  components/primitives/label/index.tsx
  components/ui/card.tsx
  components/ui/label.tsx
  components/ui/text.tsx
  context/UserInactivity.tsx
  hooks/__tests__/useHandleLinking.ts
  hooks/useHandleLinking.ts
  hooks/useSession.tsx
  index.js
  lib/applyGlobalPolyfills.ts
  lib/state/appStore.ts
  pages/Onboarding.tsx
  pages/Transaction.tsx
  pages/Transactions.tsx
  pages/receive/Receive.tsx
  pages/send/LNURLPay.tsx
  pages/send/PaymentSuccess.tsx
  pages/send/Send.tsx
  pages/settings/FiatCurrency.tsx
  pages/settings/Settings.tsx
  pages/settings/Wallets.tsx
  pages/settings/address-book/NewAddressBookEntry.tsx
  pages/settings/wallets/EditWallet.tsx
  pages/settings/wallets/LightningAddress.tsx
  pages/settings/wallets/RenameWallet.tsx
  pages/settings/wallets/SetupWallet.tsx
Due: tsc --noEmit, prettier --write

fix: store theme in app store and secure storage
  app/_layout.tsx
  lib/state/appStore.ts
  pages/settings/Settings.tsx
Due: tsc --noEmit, prettier --write

fix: primary text color
  global.css
Due: prettier --write

fix: simplify & cleanup icon svgs
  components/icons/LargeArrowDown.tsx
  components/icons/LargeArrowUp.tsx
Due: prettier --write

fix: make transaction list more recognizable
  pages/Home.tsx
Due: prettier --write

fix: rn properties
  components/icons/LargeArrowDown.tsx
  components/icons/LargeArrowUp.tsx
Due: prettier --write

chore: add go logo to receive qr
  pages/receive/Receive.tsx
Due: prettier --write

chore: add go logo to receive qr (#175)
  pages/receive/Receive.tsx
Due: prettier --write

chore: wrap root layout in sentry
  app/_layout.tsx
Due: prettier --write

chore: use expected sentry react native package
  package.json
  yarn.lock
Due: prettier --write

chore: comment out sample dsn
  app/_layout.tsx
Due: prettier --write

chore: fixes
  app/_layout.tsx
  lib/state/appStore.ts
  lib/useColorScheme.tsx
  pages/settings/Settings.tsx
Due: tsc --noEmit, prettier --write

fix: do not allow more than one decimal point
  components/DualCurrencyInput.tsx
  lib/constants.ts
Due: tsc --noEmit, prettier --write

fix: handle millisats
  pages/send/ConfirmPayment.tsx
Due: prettier --write

fix: handle millisats in success page
  pages/send/PaymentSuccess.tsx
Due: prettier --write
